{% extends 'tienda/main.html' %}
{% load static %}
{% block content%}
<div class="row">
    {% for producto in productos %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{producto.imagen.url}}" >
        <div class="box-element product">
            <h6><strong>{{producto.nombre}}</strong></h6>
            <hr>
            <button  data-product="{{producto.id}}" data-action="add"  class="btn btn-outline-secondary add-btn update-cart">añadir al carrito de compras</button>
            <a class="btn btn-outline-success"  href="#">Ver</a>
            <h4 style="display: inline-block; float:right;">$ {{producto.precio|floatformat:2}}</h4>
            
        </div>
        

    </div>
    {% endfor %}
    

    
    
</div>
{% endblock %}